:root{
    --color-white:#fff;
    --color-light:#f3f4f8;
    --color-dark:#686e7a;
    --color-black:#111727;
    --color-primary:#516abe;
    --color-body-bg:#d2d0dd;
    --transition:all 300ms ease;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Poppins' sans-serif;
    background-color: var(--color-body-bg);
    color: var(--color-dark);
    font-size: 0.9rem;
    display: grid;
    place-items: center;
    height: 100vh;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
h1{
    color: var(--color-black);
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
}
.btn-primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn:hover{
    background-color: var(--color-black);
    color: var(--color-white);
}
.btn img{
    width: 1.2rem;
}

/* Sign in */
.sign-in{
    background-color: var(--color-white);
    width: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}
.sign-in_details{
    padding: 2rem 4rem;
}
.sign-in_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}
.form_control{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input:not([type="checkbox"]){
    border: 1px solid var(--color-body-bg);
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.5rem;
}
input::placeholder{
    color: var(--color-body-bg);
}
label{
    font-weight: 500;
    color: var(--color-black);
}
.sign-in_extras{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign-in_extras div{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
button:last-child{
    margin-top: -0.5rem;
}
a,a:active,a:visited{
    color: var(--color-primary);
    font-weight: 500;
}
.next-page{
    margin-top: 1rem;
    text-align: center;
    display: block;
}
/* sign-in Logo */
.sign-in_logo{
    display: grid;
    place-items: center;
    height: 100%;
    background-color: var(--color-primary);
}
.sign-in_logo div{
    width: 22rem;
}

/* Media Queries */
@media screen and (max-width:1000px) {
    h1{
        font-size: 1.7rem;
    }
    .sign-in{
        grid-template-columns: 1fr;
        width: 100vw;
    }
    .sign-in_details{
        grid-row: 2/3;
        padding: 2rem 6rem;
        gap: 1rem;
    }
    .sign-in_logo{
        padding: 1rem 0;
    }
    .sign-in_logo div{
        width: 16rem;
    }
}
@media screen and (max-width:600px) {
    body{
        display: block;
        background-color: var(--color-white);
    }
    h1{
        font-size: 1.5rem;
    }
    .sign-in{
        grid-template-columns: 1fr;
        width: 100vw;
        overflow: visible;
    }
    .sign-in_details{
        grid-row: 2/3;
        padding: 2rem 1.5rem;
        gap: 1rem;
    }
    .sign-in_extras{
        flex-direction: column;
        gap: 0.8rem;
        margin-bottom: 1rem;
    }
    .sign-in_logo{
        padding: 1.5rem 0;
    }
    .sign-in_logo div{
        width: 12rem;
    }
}